<template>
<div class="card">
    <div class="card-header">Sistema de Tickets por Vue</div>
    <div class="card-body">
        <form action="" v-on:submit.prevent="newTicket()">
            <div class="form-group">
                <label for="thought">Ticket para vendedores:</label>
                <input type="text" class="form-control" name="thought" v-model="description">
            </div>
            <button type="submit" class="btn btn-primary">
                Enviar información acerca de los vendedores
            </button>
        </form>
    </div>
</div>
</template>

<script>
    export default {
        data(){
            return{
                description:''
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods:{
            newTicket(){
                let ticket = {
                    id:2,
                    description:this.description,
                    created_at:'15/04/2020'
                };
                this.$emit('new',ticket);
                this.description='';
            }
        }
    }
</script>
