<template>
<div class="row justify-content-center">
    <div class="col-md-8">
        <form-component @new="addTicket"></form-component>
        <br>

        <tickets-component 
        v-for="(ticket, index) in tickets" 
        :key="ticket.id" 
        :ticket="ticket"
        @delete="deleteTicket(index, ...arguments)"
        @update="updateTicket(index)">
        </tickets-component>
        </div>
    </div>
</div>
</template>

<script>
    export default {


        data(){
                return{
                    tickets:[{
                        'id':1,
                        'description':'abc',
                        'created_at':'15/04/2020'
                    }]
                }
            },
        mounted() {
            
        },
        methods:{
            addTicket(ticket){
                this.tickets.push(ticket);
            },
            deleteTicket(index){
                this.tickets.splice(index,1);
            },
            updateTicket(index, ticket){
                this.tickets[index]= ticket;
            }
        }
    }
</script>
