<template>
 <div class="card">
    <div class="card-header">Publicado en {{ ticket.created_at }}</div>

    <div class="card-body">
    <input v-if="editMode" type="text" class="form-control" v-model="ticket.description">
        <p v-else >{{ ticket.description }}</p>
        
    </div>
    <div class="card-footer">
        <button v-if="editMode" type="submit" class="btn btn-default" v-on:click="onClickUpdate()">
                Guardar cambios
        </button>
        <button v-else type="submit" class="btn btn-default" v-on:click="onClickEdit()">
                Editar
        </button>
        <button type="submit" class="btn btn-danger" v-on:click="onClickDelete()">
                Eliminar
        </button>
    </div>
</div>
</template>

<script>
    export default {
         props:['ticket'],
        data(){
          return{
              editMode:false
          };
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods:{
            onClickDelete(){
                this.$emit('delete');
            },
            onClickEdit(){
                this.editMode=true;
            },
            onClickUpdate(){
                this.editMode=false;
                this.$emit('delete',ticket);
            }
        }
    }
</script>
